/* Global */
* {
    border: 1px solid black !important;
}

/* * {
    box-sizing: border-box;
} */

/* 
    color palettes:
    Sea Serpent: #50c5ce (blueish); -> jumbotron h1
    Mountbatten Pink: #9e788f (purple pink);
    Roman Silver: #8c899e (dark purple); 
    Wild Blue Yonder: #a9b3ce; -> nav bg color, footer form
    Shadow Blue: #7284a8;
    Outer Space: #474954 (blackish); -> jumbotron bg color, dark text, footer copyright
    Platinum: #e7e8e8 (white); -> about bg color, footer bg color, body bg color, light text
*/

/* 
    Font used:
    "Montserrat", sans-serif -> Normal, Bold
    "Open Sans", sans-serif -> Normal, Bold
    "Roboto Slab", serif -> Normal
*/

html {
    scroll-behavior: smooth;
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: #a9b3ce;
    font-size: 2vw;
    text-align: center;
    height: 2em;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 50%;
    grid-column-gap: 1.5em;
    /* width: 70%; */
    height: 100%;
    align-content: center;
}

nav li {
    /* display: block; */
    height: 100%;
}

nav li a {
    text-decoration: none;
    display: block;
    font-size: 0.6em;
    /* width: 0; */
    height: 100%;
    /* padding: auto 2em; */
    margin: 0 auto;
}

nav li a:hover {
    background-color: #fff;
}

#blog {
    /* justify-self: start; */
}

/* Jumbotron */
.jumbotron {
    height: 100vh;
    background-color: #474954;
}
/* Main Content */