/* Global */
/* * {
    border: 1px solid black !important;
} */

/* 
    color palettes:
    Sea Serpent: #50c5ce (blueish); -> jumbotron h1
    Mountbatten Pink: #9e788f (purple pink);
    Roman Silver: #8c899e (dark purple); 
    Wild Blue Yonder: #a9b3ce; -> nav bg color, footer form
    Shadow Blue: #7284a8;
    Outer Space: #474954 (blackish); -> jumbotron bg color, dark text, footer copyright
    Platinum: #e7e8e8 (white); -> about bg color, footer bg color, body bg color, light text
*/

/* 
    Font used:
    "Montserrat", sans-serif -> Normal, Bold
    "Open Sans", sans-serif -> Normal, Bold
    "Roboto Slab", serif -> Normal
*/

html {
    scroll-behavior: smooth;
}

.more a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.image {
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #a9b3cec7;
    font-family: "Montserrat", sans-serif;
}

nav ul {
    padding: 25px 20px;
}

nav li {
    display: inline-block;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
    color: #e7e8e8;
}

/* Jumbotron */
.jumbotron {
    background-color: #474954;
}

.jumbotron .content {
    text-align: center;
}

.jumbotron h1 {
    font-size: 48px;
    color: #50c5ce;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.jumbotron h2 {
    font-size: 24px;
    color: #e7e8e8;
    font-family: "Roboto Slab", serif;
}

.jumbotron .more {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.jumbotron .more a {
    color: #e7e8e8;
}

/* About Me */
.about {
    background-color: #e7e8e8;
}

.about .content .profile {
    position: relative;
    top: 200px;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    grid-column-gap: 45px;
    justify-items: center;
}

/* .about .profile div {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
} */

.about .image {
    max-width: 100%;
    border: none;
}

.about .image img {
    image-orientation: from-image;
    width: 100%;
    border-radius: 100%;
    border: 7px solid #474954;
}

.about .me {
    color: #474954;
}

.about .me h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.about .me p {
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
}

.about .more {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.about .more a {
    color: #474954;
}

/* Project Portofolio */
.portofolio {
    background-color: #474954;
}
.portofolio .projects h1 {
    font-size: 24px;
    margin: 10px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #e7e8e8;
}

.portofolio .projects {
    position: relative;
    top: 200px;
}

.portofolio .grid {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-gap: 10px;
}

.portofolio .item {
    text-align: center;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.portofolio .item .image {
    height: 200px;
    border-color: rgb(189, 189, 189);
}

/* Footer */

footer h1 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

footer form {
    background-color: #a9b3ce;
    display: inline-block;
    padding: 30px 20px;
    border-radius: 15px;
}

footer .button {
    border-radius: 3px;
    padding: 6px 10px;
    margin-left: 10px;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer .copy {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", serif;
    background-color: #474954;
    color: #e7e8e8;
}