/* Global */
/* * {
    border: 1px solid black !important;
} */

.content {
    width: 75%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

section {
    height: 620px;
}

.more a {
    text-decoration: none;
}

.image {
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav ul {
    padding: 40px 20px;
}

nav li {
    display: inline-block;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}

/* Jumbotron */
/* .jumbotron {
    height: 620px;
} */

.jumbotron .content {
    text-align: center;
}

.jumbotron .text {
    position: relative;
    top: 200px;
}

.jumbotron h1 {
    font-size: 48px;
}

.jumbotron h2 {
    font-size: 24px;
}

.jumbotron .more {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* About Me */
.about .content .profile {
    position: relative;
    top: 200px;
}

.about .profile div {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.about .image {
    width: 25%;
    height: 200px;
}

.about .me {
    width: 74%;
    margin: 0;
}

.about .more {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Project Portofolio */
.portofolio .projects h1 {
    font-size: 24px;
    margin: 10px 0;
}

.portofolio .projects {
    position: relative;
    top: 200px;
}

.portofolio .col {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
}

.portofolio .col .image {
    height: 200px;
}

/* Footer */
footer {
    height: 300px;
}

footer h1 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

footer li {
    display: inline-block;
}

footer .copy {
    text-align: center;
}